
<% content_for :stylesheets do %>
  <style>
    
  </style>
<% end %>

<% content_for :content do %>
  <div id="right_menu">Right menu items here</div>
  <%= content_for?(:news_content) ? yield(:news_content) : yield %>
<% end %>

<% content_for :footer do %>
  <div id="right_menu">Right menu items here</div>
  <%= content_for?(:news_content) ? yield(:news_content) : yield %>
<% end %>

<%= render template: "layouts/application" %>